
body {
    font-family: 'Poppins', Arial, sans-serif;
    margin: 20px;
    background-color: #f9f9f9;
    color: #ffffff;
}


h1, h2 {
    color: #ffffff;
    font-weight: 700;
    text-shadow: 1px 1px 4px #000;
    text-align: center;
}


.seccion {
    background-color: rgba(73, 0, 112, 0.45);
    padding: 25px;
    border-radius: 12px;
    margin-bottom: 35px;
}


p {
    line-height: 1.6;
    font-size: 1.1rem;
}


.galeria {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
}

.galeria-imagen {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}


iframe {
    margin-top: 10px;
    max-width: 100%;
}


.footer-custom {
    width: 100%;
    background-color: #000000cc;
    color: white;
    text-align: center;
    padding: 15px 0;
    position: relative;
    margin-top: 40px;
    font-size: 1rem;
}
